<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TravelApp</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="blue accent-3">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">TravelApp</a>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row" id="trips">
            <div class="title">My Trips</div>
            <!-- This is a mock. Add this dinamycally! -->
            <div id="tripsContainer">
            </div>
        </div>

        <a data-target="createTripModal"
            class="create-button btn-floating btn-large modal-trigger waves-effect waves-light blue accent-3">
            <i class="material-icons">add</i>
        </a>

        <!-- Modal Structure -->
        <div id="createTripModal" class="modal">
            <div class="modal-content">
                <h3 class="modal-title">My next trip</h3>
                <div class="input-field">
                    <input id="destination" type="text">
                    <label for="destination">Destination</label>
                </div>
                <div class="input-field">
                    <input id="date" type="text" class="datepicker">
                    <label for="date">Date</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" id="cancel-trip-button" class="modal-close waves-effect waves-light btn-flat">cancel</a>
                <a href="#!" id="save-trip-button" class="waves-effect waves-light btn blue accent-3">save
                    trip</a>
            </div>
        </div>
    </div>
</body>

</html>