.card {
    .card-title {
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .trip-date {
        font-size: 20px;

        &__date {
            font-size: 32px;
            margin-bottom: 8px;
        }
    }

    .delete-btn {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: -20px;
        right: -20px;
        transition: .2s all ease-in-out;
    }

    &:hover {
        .delete-btn {
            opacity: 1;
            visibility: visible;
        }
    }
}