*,
::after,
::before {
   box-sizing: border-box; 
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

input {
    &.valid,
    &:focus {
        border-bottom: $primary-color !important;
        box-shadow: 0 1px 0 0 $primary-color !important;
    }
}

label {
    &.active {
        color: $primary-color !important;
    }
}