// Fonts
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$logo-font: 'Comfortaa', cursive;

// Colors
$white: #ffffff;
$main-font-color:#353535;
$border-color: rgba(0, 0, 0, 0.1);

// Sizes
$header-height: 70px;

// Shadows
$card-shadow: 0 10px 16px 0 rgba(0,0,0,0.16),0 6px 20px 0 rgba(0,0,0,0.12);